<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="images/logo.jpeg" type="images/icon type">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>My Account</title>
  </head>
  <body>
    <header>
      <div class="logo"><a href=""><img src="images/logo.jpeg" alt="Lazada logo"></a></div>
      <!-- <div class="header-info"></div> -->
    </header>

    <main>    
      <div class="page-container">
        <div class="side-menu">
          <nav>
            <ul>
              <a href="">Home</a>
              <a href="my-account.html">My Account</a>
            </ul>
          </nav>
        </div>
        <div class="page-content">
          <h1 class="role-title">My Account</h1> 
          
          <div class="info-container">
            <div class="profile-pic">
                <img src="/assets/profilePics/<%= customer.profilePicture%>" alt="user's picture">
                <form action="">
                    <label for="profilePicture" class="form-label">Update your profile picture:</label>
                    <input type="file" name="profilePicture" id="profilePicture">
                </form>
            </div>
            <div class="profile-data">
                <!-- take & display data here -->
                <div class="info-data"><p><%= customer.name%></p></div>
                <div class="info-data"><p><%= customer.username%></p></div>
                <div class="info-data"><p>data</p></div>
                <button type="" class="logout-btn">LOG OUT</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <nav class="footer-nav">
        <ul>
          <li><a href="">About Us</a></li>
          <li><a href="">Copyright</a></li>
          <li><a href="">Privacy</a></li>
          <li><a href="">Help links</a></li>
        </ul>
      </nav>
    </footer>

    <script src="js/script.js"></script>
  </body>
  </html>