* {
    text-decoration: none;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
/* header */
.logo img{
    width: 120px;
}
header {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05);
    background-color: aquamarine;
}
#search-checker, header label {
    display: none;
}
.search-container form{
    display: flex;
    flex-direction: row;
}
.header-nav{
    width: 25%;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-nav ul li{
    margin: 0 4%;
}
.header-nav ul li {
    display: inline-block;
}
.search-container {
    position: relative;
    left: 3%;
    width: 30%;
}
.search-container input {
    width: 80%;
}

/* footer */
footer {

    bottom: 0;
    width: 100%;
    padding: 8% 0;
    background-color: aliceblue;    /*change color here */
}
footer nav ul {
    display: flex;
    justify-content: space-around;
}


/* Login page */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.wrapper {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h1 {
    font-size: 3em;
    color: black;
    text-align: center;
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 55px;
}

.remember-forgot {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: lightblue;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 27px 0 10px;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* Register page */

.terms {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.terms label input {
    accent-color: black;
    margin-right: 3px;
}

.terms a {
    color: black;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.upload-file h3 {
    font-size: .9em;
    font-weight: 500;
}





/* media query */
@media (max-width: 1023px){

}
@media (max-width: 767px){
    .search-container {
        position: absolute;
        top: 110%;
        width: 90%;
        left: 10%;
        display: none;
        margin: 0 auto;
    }
    .header-nav {
        width: 35%;
        justify-content: space-between;
    }
    .header-nav li{
        font-size: 70%;
    }
    header label {
        display: inherit;
    }
    #search-checker:checked ~ .search-container{
        display: block;
    }
    footer {
        font-size: 80%;
    }
}

/* Homepage Hero */
.hero {
    border: 2px solid black;
    margin: 16px;
    position: relative;
    height: auto;
    overflow: hidden;
  }
  
  .hero-slider {
    display: flex;
    width: 600%;
    position: relative;
    height: 100%;
  }
  
  .hero-slide {
    position: relative;
    width: 16.66%;
    height: 100%;
    flex-shrink: 0;
  }
  
  .hero-slide img {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .slide-button {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    left: 5%;
  } 

  .slide-button button {
    padding: 2%;
    border-radius: 50%;
    font-size: 2em;
    font-family: monospace;
    border: none;
    opacity: 0.5;
  }

  .slide-button button:hover {
    opacity: 1;
    cursor: pointer;
  }

  .dots {
    position: absolute;
    bottom: 5%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
  }

  .dots li {
    width: 1vw;
    height: 1vw; 
    background-color: white;
    margin: 2%;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .dots .active {
    width: 5%;
    border-radius: 20px;
    opacity: 1;
    transition: 1s;
  }

/* Homepage top category */
.section-title {
    text-align: center;
    margin-top: 3%;
}
.top-cate {
    width: 100%;
}
.category-container {
    width: 100%;
    margin: 2% 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}
.category-item {
    width: 16%;
}
.category-item img {
    width: 60%;
    border: solid;
    padding: 12%;
}

/* Homepage trendy products */
.tab-container {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}
.tab-container .tab {
    margin: 2%;
    cursor: pointer;
    border: #d5d5d5 solid;
    background-color: rgb(230, 210, 181);
    width: 15%;
    text-align: center;
}
.tab-products {
    border: solid;
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
}
.tab-products .tab-item {
    border: solid;
    width: 25%;
    height: 40px;
}
.trendy-prod .hidden {
    display: none;
}
.tab-container .hidden-color {
    background-color: #fff;
}