@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap');
/* Fonts:
Poppins: 300, 400, 600, 700, 800
Rubik: 300, 400, 500, 600 */

:root {
    --primary-color: #f45050;
    --secondary-color: #f9d949;
    --secondary-dark-color: #3c486b;

    --white-color: #fff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}

*{
    margin: 0;
    padding: 0;
}
*,::before,::after {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}
a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
ul {
    list-style: none;
}
img {
    max-width: var(--percent100);
    vertical-align: middle;
}
strong {
    font-weight: var(--fw8);
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input::placeholder {
    font: inherit;
}
h1,h2,h3,h4 {
    font-family: 'Poppins';
}
h1 {
    font-size: calc(1.3em + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}
h2 {
    font-size: 2.5em;
}
h3 {
    font-size: 1.2em;
    font-weight: var(--fw7);
}
h4 {
    font-size: 1em;
    font-weight: var(--fw6);
}

/* ----------
00. REUSEABLE SELECTION 
----------- */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}
.column {
    margin-left: -0.938em;
    margin-right: -0.938em;
}
.column .row {
    padding: 0 0.938em;
}
.flexwrap {
    display: flex;
    flex-wrap: wrap;
}
.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flexitem {
    display: flex;
    align-items: center;
}
.flexcol {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* ------------
* Structure Styling

00. Reusable selection

01. HEADER
    a. Header Top
    b. Header Nav
    c. Header Main, Departments Category
    d. Search Form
    e. Responsive MENU
02. SLIDER
03. BRANDS
04. PRODUCT
    a. Global product
    b. BIG product
    c. MINI product
    d. MAIN product
05. BANNER 
    a. News Letter
    b. Widgets
    c. Footer Info
06. BOTTOM MENU
    a Search
07. OVERLAY
08. PAGE SINGLE
    a.
    b.
    c.
    d.
09. PAGE CATEGORY
    a. Sidebar products filter
    b. products block
10. CART
11. PAGE CART
12. PAGE LOGIN
13. 
------------ */

/* ------------
01. HEADER
------------ */

@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    } 
}




/* Login page */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.wrapper {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 50%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h1 {
    font-size: 3em;
    color: black;
    text-align: center;
}

.form-box h2 {
    font-size: 2em;
    color: black;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: black;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: black;
    font-weight: 500;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: black;
    line-height: 55px;
}

.remember-forgot {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a {
    color: black;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: lightblue;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: black;
    text-align: center;
    font-weight: 500;
    margin: 27px 0 10px;
}

.login-register p a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

/* Register page */

.terms {
    font-size: .9em;
    color: black;
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.terms label input {
    accent-color: black;
    margin-right: 3px;
}

.terms a {
    color: black;
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}

.upload-file h3 {
    font-size: .9em;
    font-weight: 500;
}





/* vendor page */
.header-info {
    font-family: 'Proxima Nova', sans-serif;
    color: #2b278f;
    font-size: 20px;
}
.role-title {
    text-align: center;
    margin: 5% 0;
}
.page-container {
    display: flex;
    flex-direction: row;
    margin: 0 0 10%;
}
.side-menu {
    width: 20%;
    margin-top: 5%;
    border-right: solid #656b7c 2px;
}
.side-menu ul{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.side-menu a {
    width: 80%;
    height: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-left: solid #fff 3px;
}
.side-menu a:hover {
    border-left: solid #3c486b 3px;
    background-color: #f0f0f0;
}
.page-content {
    width: 74%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.page-content .role-title {
    width: 100%;
}
.product-item {
    width: calc(33.33% - 20px);
    text-align: center;
    margin-bottom: 5%;
}
.product-item img {
    width: 70%;
}
form {
    width: 80%;
}
.form-section {
    /* border: solid; */
    display: block;
    margin-top: 4%;
}
.form-label {
    margin-right: 3%;
}
.form-input {
    display: block;
    width: 70%;
    height: 30px;
    margin-top: 1%;
}
.form-section textarea {
    height: 70px;
}
.submit-btn {
    width: 50%;
    height: 10%;
    margin-top: 5%;
    margin-left: 10%;
}
.info-container {
    display: flex;
    /* border: solid; */
    width: 90%;
}
.profile-pic {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 200%;
}
.profile-pic img {
    width: 40%;
    margin-bottom: 3%;
}
.profile-data {
    width: 100%;
    /* border: solid; */
    margin-left: 3%;
    position: relative;
}
.profile-data .info-data {
    margin-bottom: 10%;
}
.logout-btn {
    position: absolute;
    bottom: 0%;
    width: 40%;
    margin-left: 10%;
}
.order-card {
    width: 80%;
    margin: 0 10%;
    padding: 3%;
    border: solid 1px;
    border-radius: 6px;
    margin-bottom: 5%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.075);
}
.order-card a{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.order-card img {
    width: 20%;
    margin-right: 20%;
}